<h1> Brugram <small> <%= link_to 'New Photo', new_photo_path%> <small> </h1> <hr>
<% @photos.each_slice(3) do |row| %>
<div class="row">
<% row.each do |photo| %>
<div class="col-md-4 portfolio-item">
 		<h5>
            <%= photo.user.email %>
        </h5> <hr>
			<% if photo.public || current_user == photo.user %>
                <%= link_to "#{image_tag(photo.image)}".html_safe, photo_path(photo), class:"img-responsive"%>
            <% else %>
     			<%= image_tag photo.image, class: "img-responsive"%> 
     		<%end%>
                <p><%= photo.caption %></p>
        <%if (current_user.liked? photo) %>
	 <%=link_to unlike_photo_path(photo), method: :put, class: "btn btn-primary btn-sm" do %>
	 		Liked <%=photo.likes%>
	   <%end %>
	 <%else %>
	   <%=link_to like_photo_path(photo), method: :put, class: "btn btn-default btn-sm" do %>
	   	  Like <%=photo.likes%>
	   <%end %> 
	  <%end%>
	 <% if current_user == photo.user %>
	| <%= link_to 'Edit Photo', edit_photo_path(photo) %> | <%= link_to 'Destroy',  photo,  method: :delete, data: { confirm: 'Are you sure?' } %> <%end%></p>
</div>
<%end%>
</div>
<%end%>