<h1> Brugram </h1>

<%= link_to 'New Photo', new_photo_path%>

<% @photos.each do |photo| %>
<div>
	<p> <h4 style = "margin: 0"> <%= photo.user.email %> </h4> 
	 <% if photo.public || current_user == photo.user %>
	 <%= link_to "#{image_tag(photo.image)}".html_safe, photo_path(photo), class: "max-width" %> 
	 <% else %>
     <%= image_tag photo.image, class: "max-width"%> 
     <%end%>
     </br>
	 <%= photo.caption %> </br>
	 <%if (current_user.liked? photo) %>
	 <%=link_to unlike_photo_path(photo), method: :put, class: "btn btn-primary btn-sm" do %>
	 		Liked <%=photo.likes%>
	   <%end %>
	 <%else %>
	   <%=link_to like_photo_path(photo), method: :put, class: "btn btn-default btn-sm" do %>
	   	  Like <%=photo.likes%>
	   <%end %> 
	  <%end%>
	 <% if current_user == photo.user %>
	 <%= link_to 'Edit Photo', edit_photo_path(photo) %>  <%= link_to 'Destroy',  photo,  method: :delete, data: { confirm: 'Are you sure?' } %> <%end%></p>
</div>
<% end %>
